<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<div th:replace="header :: header-css" />
</head>
<body>

	<div th:replace="header :: header" />

	<div class="container">

		<div class="starter-template">
			<h1>Dashboard</h1>

			<h1 th:inline="text">Hello :
				[[${#httpServletRequest.remoteUser}]]!</h1>

		</div>

		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/admin}">Admin Screen</a>
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
			<a th:href="@{/user}">User Screen</a>
		</div>
	</div>

	<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"></script>
</body>
</html>