<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<div th:replace="header :: header-css" />
</head>
<body>
	<div th:replace="header :: header" />
	<div class="container">

		<div class="starter-template">
			<h2>OTP - Validate your OTP</h2>

			<h3 th:inline="text">Hello :
				[[${#httpServletRequest.remoteUser}]]!</h3>
 				
 			<form id="validateOtp" name="validateOtp" method="post" th:action="@{/validateOtp}">
                <fieldset>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid Otp Try Again 
                        </div>
                    </div>
                     
                    <div class="form-group">
                        <input type="text" name="otpnum" id="otpnum" class="form-control input-lg"
                               required="true" autofocus="true" autocomplete="off"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="row error" th:text="${otpmessage}"></div>

		</div>

		 
	</div>

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	
	<script type="text/javascript">
	$(document).ready(function () {

	    // $("#validateOtp").submit(function (event) {
        //
	    //     //stop submit the form, we will post it manually.
	    //     event.preventDefault();
        //
	    //     var data  = 'otpnum='+$("#otpnum").val();
		//
	    //     $.ajax({
	    //         type: "GET",
	    //         url:  "/validateOtp",
	    //         data: data,
	    //         dataType: 'text',
	    //         cache: false,
	    //         timeout: 600000,
	    //         success : function(response) {
        //             window.location = '/dashboard';
        //         },
        //         error : function(xhr, status, error) {
        //             alert(xhr.responseText);
        //         }
	    //     });
	    // });

	});

	 
	</script>
</body>
</html>